# Data Input and Output
- CSV
- Excel
- HTML
- SQL

In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('tr_server_data.csv')
data.head()

   13.047  14.741
0  13.409  13.763
1  14.196  15.853
2  14.915  16.174
3  13.577  14.043
4  13.922  13.406

In [12]:
data.to_csv("My_output", index=False)

In [13]:
data.head()

   13.047  14.741
0  13.409  13.763
1  14.196  15.853
2  14.915  16.174
3  13.577  14.043
4  13.922  13.406

In [25]:
pd.read_excel('Book1.xlsx', sheetname='Sheet1')

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2
2  A3  B3  C3  D3
3  A4  B4  C4  D4

In [26]:
df.to_excel('Excel_sample2.xlsx', sheet_name = 'NewSheet')

ModuleNotFoundError: No module named 'openpyxl'