# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(data)
d = {'a' : 10, 'b' : 20, 'c' : 30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [7]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data = [sum, print, len, max, True])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3      <built-in function max>
4                         True
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],['India', 'USA', 'Japan','Germany'])

In [14]:
ser1

India      1
USA        2
Japan      3
Germany    4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],['India', 'USA', 'Italy','Germany'])

In [16]:
ser2

India      1
USA        2
Italy      5
Germany    4
dtype: int64

In [17]:
ser1['USA']

2

In [18]:
ser1 + ser2

Germany    8.0
India      2.0
Italy      NaN
Japan      NaN
USA        4.0
dtype: float64